{
    "url": "http://localhost:5000",
    "client_url": "http://localhost:3000",
    "port": 5000,
    "db": {
        "uri": "mongodb://localhost:27017/i-tallenta",
        "user": "",
        "pass": ""
    },
    "secret": {
        "jwt": "secret",
        "google_oauth": "",
        "facebook_app": ""
    },
    "app_id": {
        "facebook_app": ""
    }
}
